<div class="container">
  <%= render 'layouts/errors', obj: @movie %>
  <div class="login-box">
    <%= form_with(model: @movie, local: true) do |f| %>
      <div class="user-box">
        <%= f.text_field :title, placeholder: "Title" %>
      </div>
      <div class="user-box">
        <%= f.text_area :description, rows: 10, placeholder: "Description of movie" %>
      </div>
      <div>
        <%= f.submit class: "form_btn" %>
      </div>
    <% end %>
  </div>
    <div class="mb-3 text-center">
      <%= link_to '[ Cancel and return to movies listing ]', movies_path, class: "text-info" %>
    </div>
  </div>
</div> 