<h1 class="headings text-center mt-4 py-2">Movies</h1>
<% @movies.each do |movie| %> 
  <div class="blog-card">
    <div class="meta">
      <div class="photo"><%= image_tag(movie.image) %></div>
      <ul class="details">
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
          <ul>
              <%= render movie.categories %>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h2><%= movie.title %></h2>
      <h3>Opening a door to the future</h3>
      <p><%= movie.description %></p>
      <p class="read-more">
        <%= link_to "Read more", movie_path(movie) %>
      </p>
    </div>
  </div>
<% end %>
<div class="flickr_pagination">
  <%= will_paginate @movies, :container => false %>
</div>