<div class="container_1">
  <%# add back to movies list page %>
  <div class="card_1">
    <div class="card_left">
      <%= image_tag(@movie.image) %>
    </div>
    <div class="card_right">
      <h2><%= @movie.title %></h2>
      <div class="card_right_details">
        <ul>
          <li>
            2003
          </li>
          <% if @movie.categories.any? %>
            <%= render @movie.categories %>
          <% end %>
        </ul>
      </div>
      <div class="card_right_review">
        <p><%= @movie.description %></p>
      </div>
      <div class="card_right_button">
        <%= link_to "Go back", movies_path %>
        <% if current_user && current_user.admin %>
          <%= link_to "Edit", edit_movie_path(@movie) %>
          <%= link_to "Delete", movie_path(@movie), method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>