<div class="container">
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="login-box">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 class='text-light text-center'>Log In</h2>
      <div class="user-box">
        <%= f.email_field :email, placeholder: "Email",  autofocus: true, autocomplete: "email" %>
      </div>
      <div class="user-box">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class:"py-2 text-secondary" %>
        </div>
      <% end %>
      <div>
        <%= f.submit "Sign up", class: "form_btn" %>
      </div>
    <% end %>
  </div>
  </div>
</div> 
