<div class="container">
  <%= render 'layouts/errors', obj: @category %>
  <div class="login-box">
    <%= form_with(model: @category, local: true) do |f| %>
      <div class="user-box">
        <%= f.text_field :name, placeholder: "Category name" %>
      </div>
      <div>
        <%= f.submit "Create", class: "form_btn" %> <br />
        <%= link_to '[ Cancel and return to movies listing ]', movies_path, class: "text-info" %>
      </div>
    <% end %>
  </div>
  </div>
</div> 