<header class="header">
	<h1 class="logo">Movie App</h1>
    <ul class="main-nav">
      <li><%= link_to "Movies List", movies_path %></li>
      <li><%= link_to "Genres", categories_path %></li>
      <% if current_user && current_user.admin? %>
        <%= link_to "Create new Movie", new_movie_path %>
        <%= link_to "Create new Category", new_category_path %>
      <% end %>
      <% if current_user %>
        <li><%= link_to "Edit profile", edit_user_registration_path %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In", user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path  %></a></li>
      <% end %>
    </ul>
</header> 